@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: white;
}

h2 {
  text-align: center;
  color: #003566;
  font-weight: bolder;
}

.main {
  width: 30%;
  margin: auto;
  background-color: tomato;
  padding: 2rem;
  display: list-item;
}

input {
  padding: 0.2rem;
  margin-top: 0.3rem;
  color: black;
}

label {
  padding: 0.2rem;
  color: whitesmoke;
  font-weight: bolder;
  margin-top: 1rem;
}

button {
  margin: 1rem auto;
  background-color: blue;
  color: azure;
  font-weight: bolder;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#image-loss {
  background-image: url("sad.jpg");
  width: 10rem;
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  display: none;
}

#display-result {
  text-align: center;
  color: azure;
  font-weight: bolder;
  background-color: blueviolet;
  padding: 0.5rem;
  display: none;
}

div {
  margin: auto;
}
