@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: white;
  /* background-image: url("sad.jpg"); */
  /* background-position: ; */
}

h2 {
  text-align: center;
  color: #003566;
  font-weight: bolder;
}

.main {
  width: 50vw;
  margin: auto;
  background-color: tomato;
  padding: 2rem;
}

input {
  text-align: center;
  padding: 0.2rem;
  margin-top: 1rem;
  color: black;
  display: inline-block;
}

label {
  text-align: center;
  padding: 0.2rem;
  margin-left: 10rem;
  color: whitesmoke;
  display: inline-block;
  font-weight: bolder;
}

button {
  margin-left: 15rem;
  margin-top: 1rem;
  background-color: blue;
  color: azure;
  font-weight: bolder;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#image-loss {
  background-image: url("sad.jpg");
  width: 10rem;
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}

#display-result {
  text-align: center;
  color: azure;
  font-weight: bolder;
  background-color: blueviolet;
  padding: 0.5rem;
  display: inline-block;
}
